@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
}

h1 {
  font-size: 5rem;
  text-shadow: 2px 2px 4px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%; 
  }

  th, td {
    border: 1px solid black;
    text-align: center; 
    padding: 5px;
  }

  th {
    background-color: #ff6f6f;
  }

  div {
    color: white;
  }